@charset "UTF-8";
body {
  padding: 0;
}

::before, ::after {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1180px;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.column-js, .column-jc, .ae-jb, .as-jc, .jb, .as-jb, .ac-jb, .ac-jc, .as, .ac, .flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ae-jb, .jb, .as-jb, .ac-jb {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.column-js {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
}

.column-jc, .as-jc, .ac-jc {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.ac-jb, .ac-jc, .ac {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.as-jc, .as-jb, .as {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.column-js, .column-jc {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ae-jb {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.shrink {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}

@font-face {
  font-family: "Muller";
  font-weight: 400;
  src: url("../fonts/MullerRegular.ttf") format("truetype"), url("../fonts/MullerRegular.woff") format("woff"), url("./fonts/MullerRegular.woff2") format("woff2");
}
@font-face {
  font-family: "Muller";
  font-weight: 500;
  src: url("../fonts/MullerMedium.ttf") format("truetype"), url("../fonts/MullerMedium.woff") format("woff"), url("./fonts/MullerMedium.woff2") format("woff2");
}
@font-face {
  font-family: "Muller";
  font-weight: 700;
  src: url("../fonts/MullerBold.ttf") format("truetype"), url("../fonts/MullerBold.woff") format("woff"), url("./fonts/MullerBold.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  line-height: 1;
}

table {
  border-spacing: 0;
}

@-moz-document url-prefix() {
  body {
    letter-spacing: -0.09px;
  }
}
.button {
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  background: linear-gradient(180deg, #FF5E43 5.21%, #FF5539 8.85%, #FF4131 51.04%, #FF4737 100%);
  box-shadow: 0px -2px 0px #FF755E, 0px 2px 0px #E63925, 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 12px 12px;
  color: #ffffff;
  padding: 12px 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.button input {
  display: none;
}
.button:after {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  overflow: hidden;
  animation: shine 3s;
  -webkit-animation: shine 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
  to {
    left: 100%;
  }
}
@keyframes shine {
  to {
    left: 100%;
  }
}
.validation-field {
  position: relative;
  display: block;
}
.validation-field > textarea, .validation-field > input, .validation-field > select {
  -webkit-appearance: none;
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
  background-color: #fff;
  border: 1px solid #edf1f5;
  font-size: 16px;
  color: #303030;
}
.validation-field > textarea::-webkit-input-placeholder, .validation-field > input::-webkit-input-placeholder, .validation-field > select::-webkit-input-placeholder {
  font-size: 0;
  color: #B3B3B3;
}
.validation-field > textarea:-moz-placeholder, .validation-field > input:-moz-placeholder, .validation-field > select:-moz-placeholder {
  font-size: 0;
  color: #B3B3B3;
}
.validation-field > textarea::-moz-placeholder, .validation-field > input::-moz-placeholder, .validation-field > select::-moz-placeholder {
  font-size: 0;
  color: #B3B3B3;
}
.validation-field > textarea:-ms-input-placeholder, .validation-field > input:-ms-input-placeholder, .validation-field > select:-ms-input-placeholder {
  font-size: 0;
  color: #B3B3B3;
}
.validation-field > textarea:focus + .placeholder, .validation-field > input:focus + .placeholder, .validation-field > select:focus + .placeholder {
  opacity: 0;
}
.validation-field > input, .validation-field > select {
  vertical-align: middle;
  height: 40px;
}
.validation-field > textarea {
  height: 100px;
  padding-top: 10px;
  resize: vertical;
}
.validation-field.message-area {
  width: 100%;
}
.validation-field.error input, .validation-field.error textarea, .validation-field.error .checkbox {
  border-color: #e25353 !important;
}
.validation-field.active > .placeholder {
  opacity: 0;
}
.validation-field > .placeholder {
  pointer-events: none;
  position: absolute;
  top: 21px;
  left: 20px;
  font-size: 16px;
  color: #B3B3B3;
  transition: all 0.4s;
}

body.fancybox-active {
  overflow: hidden !important;
}

body.fancybox-iosfix {
  position: fixed;
  left: 0;
  right: 0;
}

.fancybox-is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99992;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fancybox-outer {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption-wrap {
  position: absolute;
  direction: ltr;
  z-index: 99997;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0s linear 0.25s;
  box-sizing: border-box;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.25s, visibility 0s;
}

.fancybox-infobar {
  top: 0;
  left: 0;
  font-size: 13px;
  padding: 0 10px;
  height: 44px;
  min-width: 44px;
  line-height: 44px;
  color: #ccc;
  text-align: center;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  mix-blend-mode: exclusion;
}

.fancybox-toolbar {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.fancybox-stage {
  overflow: hidden;
  direction: ltr;
  z-index: 99994;
  -webkit-transform: translate3d(0, 0, 0);
}

.fancybox-is-closing .fancybox-stage {
  overflow: visible;
}

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.fancybox-slide::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block;
}

.fancybox-slide--image {
  overflow: visible;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video iframe {
  background: #000;
}

.fancybox-slide--map .fancybox-content,
.fancybox-slide--map iframe {
  background: #E5E3DF;
}

.fancybox-slide--next {
  z-index: 99995;
}

.fancybox-slide > * {
  display: inline-block;
  position: relative;
  margin: 44px 0 44px;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
}

.fancybox-slide > title,
.fancybox-slide > style,
.fancybox-slide > meta,
.fancybox-slide > link,
.fancybox-slide > script,
.fancybox-slide > base {
  display: none;
}

.fancybox-slide .fancybox-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.fancybox-can-zoomOut .fancybox-image-wrap {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-image-wrap {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox-can-drag .fancybox-image-wrap {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-dragging .fancybox-image-wrap {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-image,
.fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
  max-height: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--iframe .fancybox-content {
  padding: 0;
  width: 80%;
  height: 80%;
  max-width: calc(100% - 100px);
  max-height: calc(100% - 88px);
  overflow: visible;
  background: #fff;
}

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.fancybox-error {
  margin: 0;
  padding: 40px;
  width: 100%;
  max-width: 380px;
  background: #fff;
  cursor: default;
}

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 16px;
  line-height: 20px;
}

/* Buttons */
.fancybox-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 10px;
  border: 0;
  border-radius: 0;
  background: rgba(30, 30, 30, 0.6);
  transition: color 0.3s ease;
  cursor: pointer;
  outline: none;
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc;
}

.fancybox-button:focus,
.fancybox-button:hover {
  color: #fff;
}

.fancybox-button[disabled] {
  color: #ccc;
  cursor: default;
  opacity: 0.6;
}

.fancybox-button svg {
  display: block;
  position: relative;
  overflow: visible;
  shape-rendering: geometricPrecision;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 3;
}

.fancybox-button--share svg path {
  stroke-width: 1;
}

.fancybox-button--play svg path:nth-child(2) {
  display: none;
}

.fancybox-button--pause svg path:nth-child(1) {
  display: none;
}

.fancybox-button--zoom svg path {
  fill: transparent;
}

/* Navigation arrows */
.fancybox-navigation {
  display: none;
}

.fancybox-show-nav .fancybox-navigation {
  display: block;
}

.fancybox-navigation button {
  position: absolute;
  top: 50%;
  margin: -50px 0 0 0;
  z-index: 99997;
  background: transparent;
  width: 60px;
  height: 100px;
  padding: 17px;
}

.fancybox-navigation button:before {
  content: "";
  position: absolute;
  top: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(30, 30, 30, 0.6);
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
}

.fancybox-navigation .fancybox-button--arrow_right {
  right: 0;
}

/* Close button on the top right corner of html content */
.fancybox-close-small {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  z-index: 10;
  cursor: pointer;
}

.fancybox-close-small:after {
  content: "×";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 22px/30px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background-color: transparent;
  transition: background-color 0.25s;
  box-sizing: border-box;
  z-index: 2;
}

.fancybox-close-small:focus {
  outline: none;
}

.fancybox-close-small:focus:after {
  outline: 1px dotted #888;
}

.fancybox-close-small:hover:after {
  color: #555;
  background: #eee;
}

.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
  top: 0;
  right: -40px;
}

.fancybox-slide--image .fancybox-close-small:after,
.fancybox-slide--iframe .fancybox-close-small:after {
  font-size: 35px;
  color: #aaa;
}

.fancybox-slide--image .fancybox-close-small:hover:after,
.fancybox-slide--iframe .fancybox-close-small:hover:after {
  color: #fff;
  background: transparent;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
  display: none;
}

/* Caption */
.fancybox-caption-wrap {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 2vw 0 2vw;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
}

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none;
}

.fancybox-caption a,
.fancybox-caption button,
.fancybox-caption select {
  pointer-events: all;
  position: relative;
  /* Fix IE11 */
}

.fancybox-caption a {
  color: #fff;
  text-decoration: underline;
}

/* Loading indicator */
.fancybox-slide > .fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: fancybox-rotate 0.8s infinite linear;
  animation: fancybox-rotate 0.8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 99999;
}

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--next {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--current {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--next {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1;
}

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

/* Share */
.fancybox-share {
  padding: 30px;
  border-radius: 3px;
  background: #f4f4f4;
  max-width: 90%;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  margin: 0 0 20px 0;
  font-size: 35px;
  font-weight: 700;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

p.fancybox-share__links {
  margin-right: -10px;
}

.fancybox-share__button {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px 10px 0;
  padding: 0 15px;
  min-width: 130px;
  border: 0;
  border-radius: 3px;
  background: #fff;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  transition: all 0.2s;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  position: relative;
  top: -1px;
  width: 25px;
  height: 25px;
  margin-right: 7px;
  vertical-align: middle;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px 15px;
  background: transparent;
  color: #5d5b5b;
  font-size: 14px;
  outline: none;
  border: 0;
  border-bottom: 2px solid #d7d7d7;
}

/* Thumbs */
.fancybox-thumbs {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 212px;
  margin: 0;
  padding: 2px 2px 4px 2px;
  background: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-y: hidden;
  overflow-x: auto;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  white-space: nowrap;
}

.fancybox-thumbs-x > ul {
  overflow: hidden;
}

.fancybox-thumbs-y > ul::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y > ul::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y > ul::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 2px;
  width: 100px;
  height: 75px;
  max-width: calc(50% - 4px);
  max-height: calc(100% - 8px);
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
}

li.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1);
}

.fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-thumbs > ul > li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
  opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    width: 110px;
  }

  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }

  .fancybox-thumbs > ul > li {
    max-width: calc(100% - 10px);
  }
}
.fancybox-image-wrap {
  pointer-events: none;
}

header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
}
@media (max-width: 1024px) {
  header {
    padding: 7px 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  header {
    padding: 7px 0;
  }
}

@media (max-width: 1199px) {
  .logo {
    max-width: 150px;
    margin-right: 10px;
  }
}
@media (max-width: 1024px) {
  .logo {
    max-width: 120px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .logo {
    max-width: 120px;
  }
}
@media (max-width: 767px) {
  .logo {
    max-width: 80px;
  }
}
@media (max-width: 359px) {
  .logo {
    max-width: 65px;
    margin-right: 5px;
  }
}
.logo img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -html-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.header-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.worktime, .address {
  font-weight: 500;
  background: linear-gradient(268.01deg, #000000 1.68%, #974800 122.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.4;
}
@media (max-width: 1199px) {
  .worktime, .address {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .worktime, .address {
    display: none;
  }
}
@media (hover: none) and (pointer: coarse) {
  .worktime, .address {
    display: none;
  }
}

.phones a {
  text-decoration: none;
  font-weight: 500;
  background: linear-gradient(268.01deg, #000000 1.68%, #974800 122.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.4;
}
@media (max-width: 1199px) {
  .phones a {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .phones a {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .phones a {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .phones a {
    font-size: 10px;
    margin-bottom: 10px;
  }
}

.header-column {
  position: relative;
  padding-left: 52px;
}
@media (max-width: 1199px) {
  .header-column {
    padding-left: 35px;
  }
}
@media (max-width: 1024px) {
  .header-column {
    padding-left: 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-column {
    padding-left: 0;
  }
}
.header-column:after {
  content: "";
  position: absolute;
  left: 0;
  width: 38px;
  height: 38px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1199px) {
  .header-column:after {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1024px) {
  .header-column:after {
    content: initial;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-column:after {
    content: initial;
  }
}

.header-form {
  max-width: 180px;
}
@media (max-width: 767px) {
  .header-form {
    max-width: 100px;
  }
}
.header-form .button {
  width: 100%;
}
@media (max-width: 1199px) {
  .header-form .button {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .header-form .button {
    font-size: 12px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-form .button {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .header-form .button {
    font-size: 10px;
    padding: 6px 0;
    height: 25px;
  }
}

.header-form-field {
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .header-form-field {
    margin-bottom: 5px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-form-field {
    margin-bottom: 5px;
  }
}
.header-form-field:after {
  content: "";
  position: absolute;
  left: 10px;
  width: 12px;
  height: 12px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .header-form-field:after {
    content: initial;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-form-field:after {
    content: initial;
  }
}
.header-form-field .placeholder {
  left: 32px;
  top: 57%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 1199px) {
  .header-form-field .placeholder {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .header-form-field .placeholder {
    font-size: 12px;
    left: 50%;
    width: 100%;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-form-field .placeholder {
    font-size: 12px;
    left: 50%;
    width: 100%;
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 767px) {
  .header-form-field .placeholder {
    font-size: 10px;
  }
}
.header-form-field input {
  padding-left: 30px;
  border-radius: 11px;
  border: 1px solid #F3F3F3;
  height: 42px;
  box-shadow: inset 0px -2px 8px rgba(0, 0, 0, 0.04), inset 0px 2px 8px rgba(0, 0, 0, 0.04);
}
@media (max-width: 1199px) {
  .header-form-field input {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .header-form-field input {
    font-size: 12px;
    padding-left: 5px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-form-field input {
    font-size: 12px;
    padding-left: 5px;
  }
}
@media (max-width: 767px) {
  .header-form-field input {
    height: 25px;
  }
}

.stocks-block {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 -15px;
}
@media (max-width: 767px) {
  .stocks-block {
    margin: 0 -6px;
  }
}

.stock-item {
  width: calc(25% - 30px);
  margin: 0 15px 0 15px;
  position: relative;
  background: #FFFFFF;
  padding: 8px;
  box-shadow: 0 18px 33px 5px rgba(39, 75, 95, 0.15);
  border-radius: 15px;
}
@media (max-width: 1024px) {
  .stock-item {
    width: calc(50% - 30px);
    margin: 0 15px 30px 15px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .stock-item {
    width: calc(50% - 30px);
    margin: 0 15px 30px 15px;
  }
}
@media (max-width: 767px) {
  .stock-item {
    width: calc(50% - 12px);
    margin: 0 6px 12px 6px;
  }
}
.stock-item .label {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  font-weight: bold;
  font-size: 18px;
  width: 62px;
  color: #FFFFFF;
  z-index: 2;
  height: 62px;
  left: -25px;
  top: -25px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FF5551 0%, #FF4946 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: absolute;
}
@media (max-width: 1024px) {
  .stock-item .label {
    left: -10px;
    top: -10px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .stock-item .label {
    left: -10px;
    top: -10px;
  }
}
@media (max-width: 600px) {
  .stock-item .label {
    width: 27px;
    height: 27px;
    font-size: 8px;
  }
}
.stock-item .label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/stocks/label.svg");
}
@media (max-width: 767px) {
  .stock-item .label:after {
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }
}

.stock-body {
  text-decoration: none;
}

.stock-title {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  width: 100%;
  display: block;
}
@media (max-width: 1199px) {
  .stock-title {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .stock-title {
    font-size: 12px;
  }
}

.stock-image {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 180px;
  border-radius: 15px;
  margin-bottom: 15px;
}
@media (max-width: 600px) {
  .stock-image {
    height: 90px;
    margin-bottom: 10px;
  }
}

.stocks-block-wrap {
  padding: 120px 0;
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../images/stocks/stock decor.png");
}
@media (max-width: 1024px) {
  .stocks-block-wrap {
    padding: 50px 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  .stocks-block-wrap {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .stocks-block-wrap {
    background-image: initial;
    padding: 10px 0;
  }
}

.stocks-block-title h3 {
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .stocks-block-title h3 {
    margin-bottom: 25px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .stocks-block-title h3 {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .stocks-block-title h3 {
    margin-bottom: 20px;
  }
}
.stocks-block-title h3 span {
  -webkit-text-fill-color: initial;
  color: #FF4131;
}
@media (max-width: 600px) {
  .stocks-block-title h3 {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.services-block-wrap {
  position: relative;
  padding-bottom: 85px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: url("../images/services/bg.png");
}
.services-block-wrap .h1 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .services-block-wrap {
    background-size: 600px;
  }
}
@media (max-width: 1024px) {
  .services-block-wrap {
    background-size: 300px;
    padding-top: 30px;
    padding-bottom: 35px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .services-block-wrap {
    background-size: 300px;
    padding-top: 30px;
    padding-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .services-title .h1 {
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .services-title .h1 {
    font-size: 18px;
  }
}

.services-container {
  background: #FFFFFF;
  box-shadow: 0px 18px 33px 5px rgba(39, 75, 95, 0.15);
  border-radius: 15px;
  padding: 15px;
}
@media (max-width: 1024px) {
  .services-container {
    padding: 4px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .services-container {
    padding: 4px;
  }
}

.services-block {
  background: #FFFFFF;
  box-shadow: 0px 18px 33px 5px rgba(39, 75, 95, 0.15);
  border-radius: 15px;
  padding-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.service-item {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 25%;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .service-item {
    width: 50%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .service-item {
    width: 50%;
  }
}

.service-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}
@media (max-width: 1199px) {
  .service-title {
    font-size: 18px;
    padding: 0 5px;
  }
}
@media (max-width: 767px) {
  .service-title {
    font-size: 14px;
  }
}

.service-image {
  height: 135px;
  position: relative;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .service-image {
    height: 75px;
  }
}
.service-image:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 135px;
  height: 100%;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 18px 33px 5px rgba(39, 75, 95, 0.15);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .service-image:after {
    width: 75px;
  }
}
.service-image img {
  height: 100%;
  position: relative;
  z-index: 2;
  object-fit: contain;
}

.service-roof-decor, .works-roof-decor {
  height: 16px;
  margin-bottom: 40px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../images/svg/line.svg");
}
@media (max-width: 1024px) {
  .service-roof-decor, .works-roof-decor {
    margin-bottom: 20px;
    background-position: -85px center;
  }
}
@media (hover: none) and (pointer: coarse) {
  .service-roof-decor, .works-roof-decor {
    margin-bottom: 20px;
    background-position: -85px center;
  }
}

.advatages-block-wrap {
  position: relative;
  padding: 30px 0;
  overflow: hidden;
}

.advantages-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #F9F9F9;
  box-sizing: border-box;
  box-shadow: 0 0 28px rgba(104, 104, 104, 0.15);
  border-radius: 15px;
  position: relative;
  padding: 0 60px;
  padding-top: 35px;
  padding-bottom: 45px;
}
@media (max-width: 1024px) {
  .advantages-block {
    padding: 20px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .advantages-block {
    padding: 20px;
  }
}
.advantages-block:after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  background-color: #ffffff;
  left: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  top: 15px;
}
@media (max-width: 1024px) {
  .advantages-block:after {
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
  }
}
@media (hover: none) and (pointer: coarse) {
  .advantages-block:after {
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
  }
}

.advantage-image-decor {
  position: absolute;
  left: 91%;
}
@media (max-width: 1199px) {
  .advantage-image-decor {
    display: none;
  }
}

.advantage-decor-wrap {
  position: relative;
}

.advantage-item {
  position: relative;
  width: 25%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .advantage-item {
    width: 50%;
  }
  .advantage-item:first-of-type, .advantage-item:nth-of-type(2) {
    margin-bottom: 15px;
  }
}

.advantage-image {
  margin-bottom: 13px;
  height: 174px;
}
@media (max-width: 767px) {
  .advantage-image {
    height: 100px;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .advantage-image {
    height: 95px;
    object-fit: contain;
    max-width: 125px;
  }
}

.advantage-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .advantage-title {
    font-size: 14px;
    padding: 0 5px;
  }
}

.main-block-wrap {
  position: relative;
  overflow: hidden;
}

.main-block-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-block {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 180px;
}
@media (max-width: 1024px) {
  .main-block {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-block {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .main-block {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .main-block-text {
    max-width: 90%;
  }
}
.main-block-text h1 {
  margin-bottom: 0;
  line-height: 137%;
  text-align: left;
}
@media (max-width: 1199px) {
  .main-block-text h1 {
    font-size: 50px;
  }
}
@media (max-width: 1024px) {
  .main-block-text h1 {
    font-size: 40px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-block-text h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .main-block-text h1 {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .main-block-text h1 {
    font-size: 18px;
  }
}
.main-block-text h2 {
  text-align: left;
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 130%;
}
@media (max-width: 1024px) {
  .main-block-text h2 {
    font-size: 22px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-block-text h2 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .main-block-text h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .main-block-text h2 {
    font-size: 14px;
  }
}
.main-block-text ul {
  margin: 0;
  margin-bottom: 35px;
}
@media (max-width: 600px) {
  .main-block-text ul {
    margin-bottom: 12px;
  }
}
.main-block-text ul li {
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  color: #303030;
  list-style: none;
  margin: 0;
}
@media (max-width: 600px) {
  .main-block-text ul li {
    font-size: 10px;
    line-height: 20px;
  }
}

.main-form form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.main-form .header-form-field {
  margin-bottom: 0;
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .main-form .header-form-field {
    width: calc(50% - 6px);
    margin-right: 6px;
  }
  .main-form .header-form-field input {
    max-width: 100%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-form .header-form-field {
    width: calc(50% - 6px);
    margin-right: 6px;
  }
  .main-form .header-form-field input {
    max-width: 100%;
  }
}
.main-form .header-form-field:after {
  width: 14px;
  height: 14px;
  left: 32px;
}
@media (max-width: 1024px) {
  .main-form .header-form-field:after {
    content: "";
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-form .header-form-field:after {
    content: "";
  }
}
@media (max-width: 600px) {
  .main-form .header-form-field:after {
    width: 7px;
    height: 7px;
    left: 10px;
  }
}
.main-form .header-form-field input {
  height: 80px;
  width: 355px;
  padding-left: 60px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .main-form .header-form-field input {
    height: 37px;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .main-form .header-form-field input {
    font-size: 10px;
    padding-left: 20px;
  }
}
.main-form .header-form-field .placeholder {
  top: 52%;
  font-size: 20px;
  left: 60px;
}
@media (max-width: 1024px) {
  .main-form .header-form-field .placeholder {
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: initial;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-form .header-form-field .placeholder {
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: initial;
  }
}
@media (max-width: 767px) {
  .main-form .header-form-field .placeholder {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .main-form .header-form-field .placeholder {
    font-size: 10px;
    left: 30px;
  }
}
.main-form .button {
  font-size: 24px;
  width: 355px;
}
@media (max-width: 1024px) {
  .main-form .button {
    width: calc(50% - 6px);
    margin-left: 6px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .main-form .button {
    width: calc(50% - 6px);
    margin-left: 6px;
  }
}
@media (max-width: 767px) {
  .main-form .button {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .main-form .button {
    font-size: 10px;
  }
}

.main-block-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 2;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1199px) {
  .main-block-dot {
    display: none;
  }
}
.main-block-dot:hover .dot-text {
  opacity: 1;
  pointer-events: all;
}
.main-block-dot:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #F7D745;
}
.main-block-dot .dot-text {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 4px 10px;
  padding: 12px 10px;
  background-color: #FFFFFF;
  z-index: 1;
}
.main-block-dot .dot-text span {
  font-size: 20px;
  background: linear-gradient(268.01deg, #000 1.68%, #974800 122.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-block-dot.dot-1 {
  right: 50%;
  top: 57%;
}
.main-block-dot.dot-1 .dot-text {
  left: calc(100% - 10px);
  bottom: calc(100% - 10px);
}
.main-block-dot.dot-2 {
  right: 12%;
  top: 23%;
}
.main-block-dot.dot-2 .dot-text {
  right: calc(100% - 6px);
  top: calc(100% - 8px);
}
.main-block-dot.dot-3 {
  right: 17%;
  top: 56%;
}
.main-block-dot.dot-3 .dot-text {
  left: calc(100% - 10px);
  bottom: calc(100% - 10px);
}

footer {
  background: #1F1F1F;
  padding: 25px 0;
}
@media (max-width: 1024px) {
  footer {
    padding: 20px 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  footer {
    padding: 20px 0;
  }
}

.footer-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media (max-width: 1024px) {
  .footer-row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-row .header-form-field:after {
    content: "";
  }
  .footer-row .header-form-field .placeholder {
    top: 42%;
    width: initial;
    left: 38px;
    -moz-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .footer-row .header-form-field input {
    height: 42px;
  }
  .footer-row .logo {
    order: -2;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .footer-row .header-form {
    order: -1;
    width: 100%;
    max-width: 100%;
    padding: 15px 0;
    border-top: 1px solid #2E2E2E;
    border-bottom: 1px solid #2E2E2E;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  .footer-row .header-form form {
    max-width: 180px;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .footer-row .header-form .button {
    height: 40px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .footer-row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-row .header-form-field:after {
    content: "";
  }
  .footer-row .header-form-field .placeholder {
    top: 42%;
    width: initial;
    left: 38px;
    -moz-transform: translate(0);
    -o-transform: translate(0);
    -ms-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .footer-row .header-form-field input {
    height: 42px;
  }
  .footer-row .logo {
    order: -2;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .footer-row .header-form {
    order: -1;
    width: 100%;
    max-width: 100%;
    padding: 15px 0;
    border-top: 1px solid #2E2E2E;
    border-bottom: 1px solid #2E2E2E;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  .footer-row .header-form form {
    max-width: 180px;
  }
}
@media (hover: none) and (pointer: coarse) and (max-width: 767px) {
  .footer-row .header-form .button {
    height: 40px;
  }
}
@media (max-width: 600px) {
  .footer-row .logo {
    max-width: initial;
    height: 50px;
  }
  .footer-row .logo img {
    max-height: 100%;
  }
}

.social-title {
  font-size: 16px;
  color: #929292;
  margin-bottom: 15px;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 25px;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
@media (max-width: 1024px) {
  .social-list {
    margin-bottom: 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  .social-list {
    margin-bottom: 0;
  }
}

.social-link {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
.social-link:hover svg path {
  fill: #ffffff;
}
.social-link svg {
  max-height: 100%;
  max-width: 100%;
}
.social-link svg path {
  transition: all 0.3s;
}

@media (max-width: 1024px) {
  .footer-social {
    width: 100%;
    position: relative;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px solid #2E2E2E;
    border-bottom: 1px solid #2E2E2E;
  }
}
@media (hover: none) and (pointer: coarse) {
  .footer-social {
    width: 100%;
    position: relative;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px solid #2E2E2E;
    border-bottom: 1px solid #2E2E2E;
  }
}

.copywriting {
  font-weight: 500;
  font-size: 18px;
  padding-top: 15px;
  position: relative;
  color: #929292;
}
.copywriting.mob {
  display: none;
}
@media (max-width: 1024px) {
  .copywriting {
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  .copywriting.desck {
    display: none;
  }
  .copywriting.mob {
    display: block;
    width: 100%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .copywriting {
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  .copywriting.desck {
    display: none;
  }
  .copywriting.mob {
    display: block;
    width: 100%;
  }
}
.copywriting:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 80%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 1px;
  background-color: #282828;
}
@media (max-width: 1024px) {
  .copywriting:after {
    left: 0;
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 100%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .copywriting:after {
    left: 0;
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 100%;
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.swiper-slide .slide-column:first-of-type {
  width: 33.33%;
}
@media (max-width: 767px) {
  .swiper-slide .slide-column:first-of-type {
    display: none;
  }
}
.swiper-slide .slide-column:first-of-type .work-image {
  padding-top: 100%;
}
.swiper-slide .slide-column:last-of-type {
  width: 66.66%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .swiper-slide .slide-column:last-of-type {
    width: 100%;
  }
}
.swiper-slide .slide-column:last-of-type .work-image {
  width: 33.33%;
}
@media (max-width: 767px) {
  .swiper-slide .slide-column:last-of-type .work-image {
    height: 130px;
  }
}
@media (max-width: 500px) {
  .swiper-slide .slide-column:last-of-type .work-image {
    width: 50%;
  }
  .swiper-slide .slide-column:last-of-type .work-image:first-of-type, .swiper-slide .slide-column:last-of-type .work-image:nth-of-type(2) {
    display: none;
  }
}
.swiper-slide .work-image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.swiper-slide .work-image:hover:after {
  opacity: 1;
}
.swiper-slide .work-image:hover .work-info {
  opacity: 1;
}
.swiper-slide .work-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
  opacity: 0;
}

.our-works-wrap {
  background: #262626;
  padding-top: 80px;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .our-works-wrap {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .our-works-wrap {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
.our-works-wrap:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -120px;
  width: 100%;
  height: 290px;
  background-repeat: repeat-x;
  background-position: bottom left;
  background-image: url("../images/works decor.png");
}
@media (max-width: 1024px) {
  .our-works-wrap:after {
    height: 80px;
    bottom: -30px;
    background-repeat: repeat-x;
    background-position: top left;
    background-size: cover;
  }
}
@media (hover: none) and (pointer: coarse) {
  .our-works-wrap:after {
    height: 80px;
    bottom: -30px;
    background-repeat: repeat-x;
    background-position: top left;
    background-size: cover;
  }
}

.our-work-title .h2 {
  margin-bottom: 15px;
  background: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #ffffff;
}

.works-roof-decor {
  background-image: url("../images/svg/works decor.svg");
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .works-roof-decor {
    margin-bottom: 20px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .works-roof-decor {
    margin-bottom: 20px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FF5E43 5.21%, #FF5539 8.85%, #FF4131 51.04%, #FF4737 100%);
  box-shadow: 0px 4px 8px 2px rgba(39, 75, 95, 0.15);
}
@media (max-width: 767px) {
  .swiper-button-next,
.swiper-button-prev {
    display: none;
  }
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 0;
  width: 100%;
  height: 100%;
  background-size: 40%;
  background-position: 43% 50%;
  background-repeat: no-repeat;
}

.swiper-button-next {
  right: -80px;
}
.swiper-button-next:after {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.swiper-button-prev {
  left: -80px;
}

.arrows-wrap {
  position: relative;
}
@media (max-width: 767px) {
  .arrows-wrap .swiper-container {
    overflow: initial;
  }
}

.work-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.3s;
  opacity: 0;
  padding: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
.work-info svg {
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .work-info svg {
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .work-info svg {
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
  }
}
.work-info .work-title {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;
}
@media (max-width: 1024px) {
  .work-info .work-title {
    font-size: 10px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .work-info .work-title {
    font-size: 10px;
  }
}
.work-info .work-addrees {
  font-size: 16px;
  text-align: center;
  color: #BEBEBE;
}
@media (max-width: 1024px) {
  .work-info .work-addrees {
    font-size: 8px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .work-info .work-addrees {
    font-size: 8px;
  }
}

@media screen and (max-width: 1350px) {
  .swiper-button-next {
    right: 5px;
  }

  .swiper-button-prev {
    left: 5px;
  }
}

/*# sourceMappingURL=index.css.map */
