header
    .container
        .header-row
            .logo
                img(src='./images/svg/logo.svg')
            .header-column.worktime Пн-Пт: 9.00-18.00</br>Сб-Вс: по согласованию
            .header-column.address ул. Казинца, 123</br>Минск
            .header-column.phones
                    a(href="tel:+375 (44) 538-48-48") +375 (44) 538-48-48
                    br
                    a(href="tel:++375 (29) 538-48-48") +375 (29) 538-48-48
            .header-form
                form
                    .validation-field.js-validation-field.header-form-field
                        input(name='phone' type='text')
                        .placeholder Впишите телефон
                    button.button(type="submit") Заказать звонок
