doctype html
html(lang="ru")
    head
        title= 'Roofmarket'
        link(rel='stylesheet', href='./css/index.min.css', type='text/css' )
        link(rel='stylesheet', href='./css/base.min.css', type='text/css' )
        link(rel="shortcut icon" type="image/png" href="./favicon.png")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(charset="utf-8")
    body
        .wrap
            include block/header.pug
            block content
        include block/footer.pug
        include block/scripts.pug

