extends base

block content
    section.main-block-wrap
        img(src='./images/main-block.webp').main-block-image
        .main-block-dot.dot-1
            .dot-text
                span Гидроизоляция
        .main-block-dot.dot-2
            .dot-text
                span Кровля
        .main-block-dot.dot-3
            .dot-text
                span Теплоизоляция
        .container
            .main-block
                .main-block-text
                    h1 УСЛУГИ КРОВЛИ КРЫШ И <br>ПРОДАЖА КРОВЕЛЬНЫХ<br> МАТЕРИАЛОВ
                    h2 БЕЗ НАЦЕНОК И ПЕРЕПЛАТ В РАССРОЧКУ ДО<br> 36 МЕСЯЦЕВ
                    ul
                        li - ГАРАНТИЯ 50 ЛЕТ
                        li - СРОК СЛУЖБЫ 100 ЛЕТ
                        li - ИДЕАЛЬНЫЙ СТЫК БЕЗ ШВОВ
                        li - 100% ИМИТАЦИЯ КЕРАМИЧЕСКОЙ ЧЕРЕПИЦЫ
                .main-form
                    form
                        .validation-field.js-validation-field.header-form-field
                            input(name='phone' type='text')
                            .placeholder Впишите телефон
                        button.button(type="submit") Заказать звонок
    section.advatages-block-wrap
        .container
            .advantage-decor-wrap
                img(loading="lazy" src='./images/advantages/decor.png').advantage-image-decor
                .advantages-block
                    .advantage-item
                        img(loading="lazy" src='./images/advantages/advantage (0).webp').advantage-image
                        .advantage-title Рассрочка без <br> переплат
                    .advantage-item
                        img(loading="lazy" src='./images/advantages/advantage (1).webp').advantage-image
                        .advantage-title Гарантируем<br> Лучшую цену
                    .advantage-item
                        img(loading="lazy" src='./images/advantages/advantage (2).webp').advantage-image
                        .advantage-title Наличие на складе. Быстрая бесплатная доставка
                    .advantage-item
                        img(loading="lazy" src='./images/advantages/advantage (3).webp').advantage-image
                        .advantage-title Расширеннная гарантия по договору
    section.stocks-block-wrap
        .container
            .stocks-block-title
                h3 <span>СКИДКИ!</span> ТОЛЬКО ДО 23 МАРТА
            .stocks-block
                .stock-item
                    .label -18%
                    a(href='#').stock-body
                        .stock-image.object-fit
                            img(loading='lazy' src='./images/stocks/stock (1).webp')
                        .stock-title.color-gradient Металлочерепица
                .stock-item
                    .label -18%
                    a(href='#').stock-body
                        .stock-image.object-fit
                            img(loading='lazy' src='./images/stocks/stock (2).webp')
                        .stock-title.color-gradient Водосточная система
                .stock-item
                    .label -18%
                    a(href='#').stock-body
                        .stock-image.object-fit
                            img(loading='lazy' src='./images/stocks/stock (3).webp')
                        .stock-title.color-gradient Доборные элементы
                .stock-item
                    .label -18%
                    a(href='#').stock-body
                        span.stock-image.object-fit
                            img(loading='lazy' src='./images/stocks/stock (4).webp')
                        span.stock-title.color-gradient Вентиляционные выходы